.burger-menu {
  display: none; }

.slicknav_menu {
  z-index: 10;
  display: none;
  position: absolute;
  top: -16px;
  right: 0; }
  .slicknav_menu .slicknav_btn {
    padding: 0px 35px 31px 4px;
    margin-right: 20px; }
  .slicknav_menu .slicknav_nav {
    padding-top: 10px; }
    .slicknav_menu .slicknav_nav ul {
      margin: 0;
      background: #171920; }
      .slicknav_menu .slicknav_nav ul li:hover a {
        color: #FFFFFF; }
        .slicknav_menu .slicknav_nav ul li:hover a::after {
          content: "";
          display: block;
          position: absolute;
          background-color: #FF0303;
          width: 64px;
          height: 4px;
          transform: rotate(90deg);
          left: 213px;
          top: 30px; }
      .slicknav_menu .slicknav_nav ul li a {
        color: #A2A3A6;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        padding: 21px 15px 21px 139px;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        text-align: end;
        position: relative;
        transition: all 0.2s; }

.slicknav_icon .slicknav_icon-bar {
  width: 55px;
  height: 4px;
  margin-bottom: 10px;
  background: #FF0303;
  border-radius: 4px;
  -webkit-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -moz-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -ms-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  -o-transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71);
  transition: all 0.5s cubic-bezier(0.08, 0.81, 0.87, 0.71); }

.span1 {
  transform-origin: 4px 0px; }

.span3 {
  transform-origin: bottom right; }

.slicknav_open .span1 {
  background-color: #FF0303;
  transform: rotate(45deg) translate(4px); }

.slicknav_open .span2 {
  background-color: #FF0303;
  transform: rotate(495deg) translate(7px); }

.slicknav_open .span3 {
  background-color: #FF0303;
  transform: rotate(45deg);
  opacity: 0; }
