/*------------------ Color ------------------*/
$bg-color: #FFFFFF;
$bg-header:#171920;
$bg-news-text-block:#f9f9f9;
$menu-hover-text:#FFFFFF;
$color-menu-text:#A2A3A6;

$color-text-submenu-active:#171920;
$color-text-submenu:#B7B7B7;
$text-color-main-btn:aliceblue;
$bg-color-main-btn:#171920;
$text-heading-one-news:#171920;
$main-btn-one-news:#FF0303;
$bg-raiting-bk: #F3F5F6;
$line-hover-menu: #FF0303;
$read-more-color:#FF0303;
$color-text-footer: #A2A3A6;

$rating-bk-gift-color:#5C5E5E;
$btn-color-rating:#FF0303;
$btn-color-rating-text:#FFFFFF;
$bg-btn-rating-footer:#171920;
$color-text-btn-rating-footer:aliceblue;

$footer-bg-color:#171920;
$eighteen-bg-color:red;
$eighteen-text-color:aliceblue;
$footer-renouncement-color:grey;





/*------------------ Color ------------------*/